
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


body{
    .navbar{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .title{
            font-family: 'Uncial Antiqua', cursive;
        }
    }
    
    main{
        display: grid;
        grid-template-areas: "foto foto foto"
                    "prod1 prod1 prod1"
                    "contact contact contact"
                    "footer footer footer";
        gap: 10px;
        width: 100%;
        margin-top: 30px;
        padding: 25px;
            section{
                
                width: 100%;
                .carrusel{
                    grid-area: foto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 5px;
                    padding: 5px;
                    .carrusel-div{
                        width: 50%;
                        border-radius: 25px;
                        img{
                            border-radius: 25px;
                            border: 2px solid;
                        }
                        }
                }
                .productos1{
                    grid-area: prod1;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    gap: 50px;
                    margin: 0 15% 0 15%;
                    .fondoVikingo{
                        width: 100%;
                        border-radius: 25px;
                        box-shadow: 5px 5px 5px black;
                    }
                    
                }
                
            }
        .cart{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
    footer{
        grid-area: footer;
        font-size: 1.5rem;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-around;
        align-items: center;
        padding: 35px;
        .descripcion{
            .div-1{
                h4{
                    font-size: 2rem;
                    margin: 10px;
                    padding: 5px;
                }
                p{
                    font-size: 1rem;
                    margin: 10px;
                    text-align: center;
                }
            }
            .div-2{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                img{
                    width: 2.5rem;
                }
                h4{
                    margin: 10px;
                }
            }
        }
        .news{
            padding: 5px;
            button{
                margin:15px;
            }
            h4{
                
                margin: 10px;
            }
        }  
    }
}

.compra{
    h1{
        font-size: 3rem;
        padding: 15px;
    }
    .cart-new{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}



// RESPONSIVE


@media screen and (max-width: 768px){
section{
    .carrusel{
        width: 100%;
    }
    .productos1{
        flex-direction: row;
        flex-wrap: wrap;
        p{
            font-size: 1rem;
        }
    }
}    

footer{
    font-size: 1rem;
    gap: 10px;
    flex-direction: column !important;
    .news{
        font-size: 1rem;
        flex-direction: column;
        gap: 10px;
    }
    .descripcion{
        font-size: 1rem;
        .div-1{
        flex-direction: column;
        }
    }
}
}

