body{
    
    header{
        background-color: aquamarine;
        text-align: center;
    .navbar{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
    }
    main{
        grid-area: foto foto foto
                    prod1 prod1 prod1
                    prod2 prod2 prod2
                    prod3 prod3 prod3
                    contact contact contact
                    footer footer;
        width: 100%;
        margin-top: 30px;
        padding: 25px;
            section{
                
                .carrusel{
                    grid-area: foto;
                    
                }
                .productos1{
                    grid-area: prod1;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 50px;
                    margin: 25px;
                    border: 5px solid;
                }
                .productos2{
                    grid-area: prod2;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 50px;
                    margin: 25px;
                    border: 5px solid;
                }
            }
        
    }
    footer{
        grid-area: footer;
        background-color: red;
        }
    
    
}